@import url('https://fonts.googleapis.com/css?family=Megrim:400');


.a7 {
  width               : 100%;
  min-width           : 210px;
  height              : 100vh;
  min-height          : 298px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
  opacity             : 1.0;
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.a7 .rectangle {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : -18px;
  height              : 367px;
  box-sizing          : border-box;
  width               : 275px;
  position            : absolute;
  margin              : 0;
  left                : -24px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a7 .bitmap {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 321px;
  width               : 458px;
  position            : absolute;
  margin              : 0;
  left                : -199px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a7 .hiclipartcom {
  background-color    : rgba(255,255,255,0.0);
  top                 : 26px;
  height              : 286px;
  width               : 286px;
  position            : absolute;
  margin              : 0;
  left                : -36px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a7 .group3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 87px;
  height              : 152px;
  width               : 152px;
  position            : absolute;
  margin              : 0;
  left                : 30px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a7 .group3 .qrcode2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 152px;
  width               : 152px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a7 .group3 .group2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 51px;
  height              : 50px;
  width               : 50px;
  position            : absolute;
  margin              : 0;
  left                : 51px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a7 .group3 .group2 .oval {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 50px;
  width               : 50px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a7 .group3 .group2 .bitmap1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 7px;
  height              : 27px;
  width               : 31px;
  position            : absolute;
  margin              : 0;
  left                : 10px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a7 .group3 .group2 .nfc {
  background-color    : rgba(255,255,255,0.0);
  top                 : 37px;
  height              : auto;
  width               : 18px;
  position            : absolute;
  margin              : 0;
  left                : 16px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 8.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 9.0px;
}
.a7 .menuo {
  background-color    : rgba(255,255,255,0.0);
  top                 : 9px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 58px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Megrim", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 30.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 35.0px;
}
.a7 .menuoapp {
  background-color    : rgba(255,255,255,0.0);
  top                 : 36px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 109px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "CambayDevanagari-Regular", Helvetica, Arial, serif;
  font-size           : 9.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 11.0px;
}
.a7 .przyu0142363u017csw363jsmartfo {
  background-color    : rgba(255,255,255,0.0);
  top                 : 242px;
  height              : auto;
  width               : 152px;
  position            : absolute;
  margin              : 0;
  left                : 30px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "CambayDevanagari-Regular", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 12.0px;
}
.a7 .zam363wszybkoiwygod {
  background-color    : rgba(255,255,255,0.0);
  top                 : 55px;
  height              : auto;
  width               : 137px;
  position            : absolute;
  margin              : 0;
  left                : 37px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "CambayDevanagari-Bold", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 12.0px;
}
.a7 .zam363wszybkoiwygod .span1 {
  line-height         : 14.0px;
}
.a7 .zam363wszybkoiwygod .span2 {
  font-family         : "CambayDevanagari-Regular", Helvetica, Arial, serif;
  line-height         : 15.0px;
}
.a7 .aplikacjaniewymaga {
  background-color    : rgba(255,255,255,0.0);
  top                 : 284px;
  height              : auto;
  width               : 137px;
  position            : absolute;
  margin              : 0;
  left                : 37px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "CambayDevanagari-Regular", Helvetica, Arial, serif;
  font-size           : 7.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 8.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
.anima-component-wrapper,
.anima-component-wrapper * {
  pointer-events      : none;
}
.anima-component-wrapper a *,
.anima-component-wrapper a,
.anima-component-wrapper input,
.anima-component-wrapper video,
.anima-component-wrapper iframe,
.anima-listeners-active,
.anima-listeners-active * {
  pointer-events      : auto;
}
.anima-hidden,
.anima-hidden * {
  visibility          : hidden;
  pointer-events      : none;
}
.anima-smart-layers-pointers,
.anima-smart-layers-pointers * {
  pointer-events      : auto;
  visibility          : visible;
}
.anima-component-wrapper.anima-not-ready,
.anima-component-wrapper.anima-not-ready * {
  visibility          : hidden !important;
}
.anima-listeners-active-click,
.anima-listeners-active-click * {
  cursor              : pointer;
}
.anima-word-break {
  overflow-wrap       : break-word;
  word-wrap           : break-word;
  word-break          : break-all;
  word-break          : break-word;
}